:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 0, 0);
  --primary-background-color: rgb(0, 0, 0);
  --secondary-background-color: rgb(255, 255, 255);
  --third-background-color: rgb(212, 139, 80);
  --fourth-background-color: rgb(237, 125, 80);
  /* --title-color: rgb(0, 0, 0); */
  --border-input: rgb(131, 87, 48);
  --social-icon-color: rgb(171, 79, 14);
  /* --background-color-dark-blue: rgb(0, 65, 186);
  --background-color-light-blue: rgb(0, 89, 255); */
  --input-bg: rgb(255, 255, 255);
  --btn-bg: rgb(0, 123, 255);
  --btn-color: rgb(255, 255, 255);
  --error-background: rgb(171, 79, 14);
  --error-info-text: rgb(240, 59, 52);
  --error-info-p: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --secondary-background-color: rgb(255, 255, 255);
  --third-background-color: rgb(130, 50, 0);
  --fourth-background-color: rgb(255, 98, 0);
  /* --title-color: rgb(0, 0, 0); */
  --border-input: rgb(192, 80, 0);
  --social-icon-color: rgb(171, 79, 14);
  --error-background: rgb(255, 131, 60);
  --error-info-text: rgb(0, 0, 0);
  --error-info-p: rgb(60, 26, 0);

  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(207, 207, 207);
}

body.dark-mode {
  --primary-background-color: rgb(0, 0, 0);
  --secondary-background-color: rgb(255, 255, 255);
  --third-background-color: rgb(0, 23, 67);
  --fourth-background-color: rgb(0, 89, 255);
  /* --title-color: rgb(0, 0, 0); */
  --border-input: rgb(0, 89, 255);
  --social-icon-color: rgb(0, 89, 255);
  --error-background: rgb(22, 25, 35);
  --error-info-text: rgb(240, 59, 52);
  --error-info-p: rgb(190, 190, 190);

  background-color: var(--primary-background-color);
}
